.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.img-container {
  max-height: 230px;
  overflow: hidden;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }
}
